extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link(href='/basic-info', style='color:black') Basic Info
      li.nav-item
        a.nav-link.active(href='/change-password', style='color:black') Change Password
      li.nav-item
        a.nav-link(href='/security', style='color:black') Security
    .tab-content
      form#confirmation.needs-validation.mt-4(action='/account/change_password', method='POST', style='color: black;', data-toggle='validator', role='form')
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='name') Old Password:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input#old_password.form-control(type='password', name='old_password')
            .invalid-feedback
              | Please enter your old password
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='name') New Password:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input#new_password.form-control(type='password', name='new_password', required)
            .invalid-feedback
              | Please enter your new password
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='student_email') Confirm Password:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input#confirm_password.form-control(type='password', name='confirm_password', required)
            .invalid-feedback
              | Please enter a confirm password
            |
            - if(not_match) {
              .alert.alert-danger.mt-4(role='alert')
                | !{not_match}
            - }
        input.btn.btn-md.color-ink.ml-3.mb-3(type='submit', value='Save', onClick='validatePassword()')
  
  include ../includes/logout.pug

  include ../includes/footer.pug