extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    .container-fluid
      // Breadcrumbs
      ol.breadcrumb.color-pblue
        li.breadcrumb-item.active.h4 List Administrators
      // Search
      form(action='/search/', method='GET')
        .form-row
          .col-lg-3.col-md-5.col-sm-5.col-xs-5
            .form-group
              input.form-control(type='text', placeholder='Keywords', name='keywords', value=keywords)
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="orderby")
                option(name='categories', value="categories") - Based on -
                option(name='it_service', value="it_service") Username
                option(name='fnb', value="fnb") Name
                option(name='fnb', value="fnb") Email
          .col-lg-1.col-md-1.col-sm-1.col-xs-1
            input.btn.color-ink.mb-3(type='submit', value='Search')
          a.plugin(href='/admin/add-admin')
            i.fas.fa-plus-circle.fa-2x.my-float
          //- a.float(href='/admin/add-admin')
          //-   i.fa.fa-plus.my-float
      .table-responsive.pb-5(style='color: black; margin-left: -15px;')
        table#dataTable.table-striped.table
          thead
            tr
              th Username
              th Name
              th Email
              th Action
          tbody
            for admin in data
              tr
                td= admin.username
                td= admin.first_name + ' ' + admin.last_name
                td= admin.email
                td
                  a(href='#')
                    button.btn.btn-danger.btn-sm(type='button', onclick='del('+admin.id+')')
                      i.fa.fa-trash

      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content(style='color: black') 
            .modal-header
              h5#exampleModalLabel.modal-titleDelete Admin
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              | Are you sure you want to delete this account?
            .modal-footer
              button.btn.btn-danger(type='button', onclick='deleteAdmin()') Delete
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel

      script(type='text/javascript').
        function del(e) {
          window.idAdmin = e;
          $("#myModal").modal('show');
        }
        function deleteAdmin(){
          var id = window.idAdmin;
          $.ajax({
            url:'/admin/delete/'+id,
            type:'POST',
            success : function (respon) {
            setTimeout(function() {$("#myModal").modal('hide');}, 1000);
            location.reload();
            }
          })
        }
        $(document).ready(function() {
          $('#dataTable').DataTable({
            "searching": false
          });
          $('#dataTable_paginate').addClass('pagination-sm');
          $('#dataTable_paginate').addClass('mt-2');
        });
        

  include ../includes/logout.pug

  include ../includes/footer.pug
