extends ../layout2

block content
    nav.navbar.navbar-expand-lg.navbar-light.color-ink
      a.navbar-brand(href='/' style="color: #FFFFFF;")
        img(src="/images/logo-light.png" height="31" alt="")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.i.fa.fa-fw.fa-bars(style='color: white;')
      #navbarSupportedContent.collapse.navbar-collapse.justify-content-right
        ul.navbar-nav.ml-auto.justify-content-right
          li.nav-item
            a.nav-link.rounded.border-light(style='color: #ffffff', href='/')
              |  Home
          li.nav-item
            a.nav-link.rounded.border-light(style='color: #ffffff', href='/categories')
              |  Browse Directory
          li.nav-item
            a.nav-link.rounded.border-light(style='color: #ffffff', href='#')
              |  Login
          li.nav-item
            a.nav-link.rounded.border-light(style='color: #ffffff', href='#')
              |  Register
    .container-fluid
      a#home.float(href='#home')
        i.fa.fa-briefcase.my-float.fa-lg
      a#info.float2(href='#info')
        i.fa.fa-info.my-float.fa-lg
      a#maps.float3(href='#maps')
        i.fa.fa-map-marker.my-float.fa-lg
      a#comment.float4(href='#comment')
        i.fa.fa-comment.my-float.fa-lg
    .container-fluid
      .container
        .home.row.mt-4
          .col-lg-3.col-md-3.col-sm-3.col-xs-3.text-center
            img(src='https://image.freepik.com/free-icon/city_318-112631.jpg', alt='ikon bisnis', style="width: 100px;")
          .col-lg-8.col-md-8.col-sm-8.col-xs-8
            h2
              a Wonderlabs
            p(style='color: grey') City: Yogyakarta - Business: Retail
            p
              i.fa.fa-fw.fa-map-marker
              |  Jalan Laksda Adisucipto no 21, Kota Yogyakarta, Depok, 55238
              br
              i.fa.fa-fw.fa-globe
              |  http://www.lorem.co.id 
              br
              i.fa.fa-fw.fa-phone-square
              |  0274 567 890 
              br
              i.fa.fa-fw.fa-envelope
              |  contact@lorem.co.id 
              br
            p(align='justify')
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Quisque porta. Fusce wisi. Nunc dapibus tortor vel mi dapibus sollicitudin. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Nulla quis diam.
              | Fusce suscipit libero eget elit. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Aliquam erat volutpat. Aenean placerat. Mauris tincidunt sem sed arcu.
        hr.color-nantucket(style='margin-top: 0px; height: 1px;')
        .info.mt-2
          h4 Outlet Info
          h3 Wonderlabs Armstrong Campus
          p
            i.fa.fa-fw.fa-map-marker
            |  Jalan Laksda Adisucipto no 21, Kota Yogyakarta, Depok, 55238
            br
            i.fa.fa-fw.fa-globe
            |  http://www.lorem.co.id 
            br
            i.fa.fa-fw.fa-phone-square
            |  0274 567 890 
            br
            i.fa.fa-fw.fa-envelope
            |  contact@lorem.co.id 
          ul(style='margin-left: -20px; margin-top: -10px;')
            li
              .row
                .col-lg-2.col-md-2.col-sm-3.col-xs-3
                  | Monday
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                  | 8.00 - 18.00
            li
              .row
                .col-lg-2.col-md-2.col-sm-3.col-xs-3
                  | Tuesday
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                  | 8.00 - 18.00
            li
              .row
                .col-lg-2.col-md-2.col-sm-3.col-xs-3
                  | Wednesday
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                  | 8.00 - 18.00
            li
              .row
                .col-lg-2.col-md-2.col-sm-3.col-xs-3
                  | Thursday
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                  | 8.00 - 18.00
            li
              .row
                .col-lg-2.col-md-2.col-sm-3.col-xs-3
                  | Friday
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                  | 8.00 - 18.00
      .container
        #map.border.maps
        .mt-3
        a.btn.btn-ink.color-ink.col-xs-3.mr-2.mb-2(href='#') Get Direction
        a.btn.btn-detail.color-nantucket.col-xs-3.mr-2.mb-2(href='#') Find Similar
        .comment.row.mt-3
          h4.col-sm-12 Review
            hr
          .col-lg-12
            strong
              h6(style='color: black;') Rully Indra Laelaningrum
            p(style='color: gray; font-size: 14px')
              | 2 days ago 
            p.text-justify(style='color: black; margin-top: -10px; margin-bottom: 5px;')
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
              | book.
            i.fa.fa-fw.fa-star.star-orange
            i.fa.fa-fw.fa-star.star-orange
            i.fa.fa-fw.fa-star.star-orange
            i.fa.fa-fw.fa-star.star-orange
            i.fa.fa-fw.fa-star.star-orange
            .mt-3
            strong
              h6(style='color: black;') Evania Kurniawati
            p(style='color: gray; font-size: 14px')
              | 3 days ago
            p.text-justify(style='color: black; margin-top: -10px; margin-bottom: 5px;')
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
              | book.
            i.fa.fa-fw.fa-star.star-orange
            i.fa.fa-fw.fa-star.star-orange
            i.fa.fa-fw.fa-star.star-orange
            i.fa.fa-fw.fa-star.star-gray
            i.fa.fa-fw.fa-star.star-gray
            .mt-3
            div
              button.btn.color-ink.mb-4(type='button', data-toggle='modal', data-target='.bd-example-modal-lg') Add Review
        .card.mb-3
          .card-header.color-pblue
            | Other Outlets
          .card-body
            .table-responsive-lg(style='color: black;')
              table.table-striped.table.col-lg-12.col-md-12.col-sm-12.col-xs-12
                thead
                  tr
                    th Name
                    th Business
                    th City
                    th 
                tbody
                  tr
                    td Wonderlabs Armstrong Campus
                    td Wonderlabs
                    td Yogyakarta
                    td 
                      a(href='#') view outlets >
                  tr
                    td Wonderlabs Explorer Campus
                    td Wonderlabs
                    td Yogyakarta
                    td 
                      a(href='#') view outlets >
                  tr
                    td Wonderlabs Sputnik Campus
                    td Wonderlabs
                    td Yogyakarta
                    td 
                      a(href='#') view outlets >
                  tr
                    td Wonderlabs Houston Campus
                    td Wonderlabs
                    td Yogyakarta
                    td 
                      a(href='#') view outlets >
    
    include footer.pug
    
    include add_review.pug