link(rel='stylesheet', href='/stylesheets/style-login.css')
.modal.fade.forgot(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
  .modal-dialog.bd-example-modal-sm
    .modal-content
      .modal-header
        h4 Forgot Password
      .modal-body
        p.form-message
          | Lost your password? Please enter your email address.
          br
          |  You will receive a link to create a new password.
        form.form
          p.fieldset
            label.image-replace.email(for='reset-email') E-mail
            input#reset-email.full-width.has-padding.has-border(type='email', placeholder='E-mail')
            span.error-message An account with this email does not exist!
          p.fieldset
            input.full-width.has-padding(type='submit', value='Reset password')
        p.form-bottom-message
          a(href='#', data-dismiss='modal', data-toggle='modal', data-target='.login') Back to log-in
        