extends layout-login

block content
  .container
    .wrapper
      script(type='text/javascript', src='../javascripts/register.js')
      form.form.form-signin(method='POST')
        img.img-thumbnail.center(src="/images/logo-dark-trans.png" alt="")
        p.fieldset
          label.image-replace.username Username
          input#username.full-width.has-padding.has-border(type='text', placeholder='Username', name='username', value=susername, readonly)
          span.error-message An account with this username does not exist!
        p.fieldset
          label.image-replace.email Email
          input#email.full-width.has-padding.has-border(type='email', placeholder='Email', name='email', value=semail, readonly)
        p.fieldset
          label.image-replace.password Password
          input#password.full-width.has-padding.has-border(type='password', placeholder='Password', name='password')
        p.fieldset
          label.image-replace.password Confirm Password
          input#password_confirm.full-width.has-padding.has-border(type='password', placeholder='Confirm Password', name='password_confirm')
          //- span#message Matching
        p.fieldset
          // input.full-width(type='submit', value='Login')
        p.fieldset
          input#submit.full-width.has-padding(type='submit', value='Continue Registration', name='submit', onclick='return Validate()')

        