extends layout-login

block content
  .container
    .wrapper
      form.form.form-signin(method='POST', action='/login/reset/')
        img.img-thumbnail.center(src="/images/logo-dark-trans.png" alt="")
        p.fieldset
          label.image-replace.username Username
          input#username.full-width.has-padding.has-border(type='text', placeholder='Username', name='username', readonly, value=susername)
          span.error-message An account with this username does not exist!
        p.fieldset
          label.image-replace.email Email
          input#username.full-width.has-padding.has-border(type='text', placeholder='Email', name='email', readonly, value=semail)
          span.error-message An account with this username does not exist!
        p.fieldset
          label.image-replace.password(for='password') Password
          input#password.full-width.has-padding.has-border(type='password', placeholder='Password', name='password')
        p.fieldset
          label.image-replace.password(for='password') Confirm Password
          input#password.full-width.has-padding.has-border(type='password', placeholder='Password', name='confirm_password')
        p.fieldset
          // input.full-width(type='submit', value='Login')
        p.fieldset
          input.full-width.has-padding(type='submit', value='Reset Password')
        p.fieldset(align='center')
          a(href='/login', align='center' ,style='margin-bottom: 10px;') Back to login
