extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link(href='/basic-info', style='color:black') Basic Info
      li.nav-item
        a.nav-link.active(href='/change-password', style='color:black') Change Password
      li.nav-item
        a.nav-link(href='/security', style='color:black') Security
      li.nav-item
        a.nav-link(href='/setting', style='color:black') Setting
    .tab-content
      form.needs-validation.mt-3(action='#', method='POST', novalidate='', style='color: black;')
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='name') Old Password:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input.form-control(type='text', name='name', placeholder='Old Password', required='')
            .invalid-feedback
              | Please enter your old password
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='name') New Password:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input.form-control(type='text', name='name', placeholder='New Password', required='')
            .invalid-feedback
              | Please enter your new password
        .form-group
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            label(for='student_email') Confirm Password:
          .col-lg-6.col-md-6.col-sm-6.col-xs-6
            input.form-control(type='email', name='student_email', placeholder='Confirm Password', required='')
            .invalid-feedback
              | Please enter a confirm password

        input.btn.btn-md.color-ink.ml-3.mb-3(type='submit', value='Save')

  include ../includes/logout.pug
  
  include ../includes/footer.pug
  