extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    .container-fluid
      // Breadcrumbs
      ol.breadcrumb.color-pblue
        li.breadcrumb-item.active.h4 Reviews
      // Search
      form(action='/search/', method='GET')
        .form-row
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .form-group
              input.form-control(type='text', placeholder='Keywords', name='keywords', value=keywords)
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="orderby")
                option(name='business', value="business") - Business -
                  each value in business
                    option(value=value.id) #{value.name}
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            .form-group
              select.form-control(name="sort")
                option(name='asc', value="ASC") - Outlet -
                option(name='asc', value="ASC") Wonderlabs Armstrong
                option(name='desc', value="DESC") Wonderlabs Explorer
          .col-lg-1.col-md-1.col-sm-1.col-xs-1.mb-4
            input.btn.color-ink(type='submit', value='Search')
      .col-lg-11(style='margin-left: -12px;')
        for r in data
          strong
            h6(style='color: black;')
              =r.name
          p(style='color: gray; font-size: 14px')
            =r.created
            |   - outlet : 
            a(href='/detail/outlet/'+r['outlet.id'])
              =r['outlet.outlet_name']
          p.text-justify(style='color: black; margin-top: -10px; margin-bottom: 5px;')
            =r.content
          p(style='margin-top: -30px;')
            .star-box(style='display: inline-block;width:auto ;white-space: nowrap;')
              span.unfilled(style='position: absolute;') 
                i.fa.fa-fw.fa-star.star-grey
                i.fa.fa-fw.fa-star.star-grey
                i.fa.fa-fw.fa-star.star-grey
                i.fa.fa-fw.fa-star.star-grey
                i.fa.fa-fw.fa-star.star-grey
              span.filled(style='white-space: nowrap; overflow: hidden;position: absolute; width:'+r.rating*1.25+'em')
                i.fa.fa-fw.fa-star.star-orange
                i.fa.fa-fw.fa-star.star-orange
                i.fa.fa-fw.fa-star.star-orange
                i.fa.fa-fw.fa-star.star-orange
                i.fa.fa-fw.fa-star.star-orange
          hr(style='margin-top: 2em;')
          
      ul.pagination.pagination-sm.float-sm-left.mb-4.mt-3
        li.page-item
          a.page-link(href='#') Previous
        li.page-item
          a.page-link(href='#') 1
        li.page-item.active
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') Next
  include ../includes/logout.pug

  include ../includes/footer.pug

