extends ../layout

block content
  include include/navbar.pug
  .content-wrapper
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link(href='/basic-info', style='color:black') Basic Info
      li.nav-item
        a.nav-link(href='/change-password', style='color:black') Change Password
      li.nav-item
        a.nav-link.active(href='/security', style='color:black') Security
      li.nav-item
        a.nav-link(href='/setting', style='color:black') Setting
    .tab-content
      form.mt-3.col-lg-12.col-md-12.col-sm-12.col-xs-12(action='#', method='POST', novalidate='', style='color: black;')
        .form-row
          .form-group.col-lg-8.col-md-8.col-sm-8.col-xs-8
            label(for='name') Enable two factor athentiation token
          .form-group.col-lg-2.col-md-2.col-sm-2.col-xs-2
            label.switch
              input(type='checkbox', checked='')
              span.slider.round
        .form-row
          .form-group.col-lg-8.col-md-8.col-sm-8.col-xs-8
            label(for='name') Prevent login from other IP address (current IP address: 144.205.77.102)
          .form-group.col-lg-3.col-md-3.col-sm-3.col-xs-3
            label.switch
              input(type='checkbox', checked='')
              span.slider.round
        input.btn.btn-md.color-ink.mb-3(type='submit', value='Save')

  include ../includes/logout.pug
  
  include ../includes/footer.pug

